.noResponse {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #69696973;
}

.content {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.brief {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.brief .card {
    width: 200px;
    height: 60px;
    background: #323232;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.brief .card p {
    color: #fff;
}

.tableContainer {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
}

.table th {
    color: #fff !important;
    font-weight: 500;
}

.table th,
.table td {
    white-space: nowrap;
    padding: 10px 16px;
    text-align: left;
    border: 1px solid var(--border-color);
    color: var(--dark-text);
}